<footer class="mini-footer dt-sl">
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <ul class="mini-footer-menu">
                    <li><a href="#">درباره @ViewBag.SiteName</a></li>
                    <li><a href="#">فرصت های شغلی</a></li>
                    <li><a href="#">تماس با ما</a></li>
                    <li><a href="#">همکاری با سازمان ها</a></li>
                </ul>
            </div>
            <div class="col-12 mt-2 mb-3">
                <div class="footer-light-text">
                    استفاده از مطالب فروشگاه اینترنتی @ViewBag.SiteName فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به (فروشگاه آنلاین @ViewBag.SiteName) می‌باشد.
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="copy-right-mini-footer">
                    <p>
                        <a href="http://Amircpu.ir/">Copyright © 2019 AmirCpu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
