.datePicker {
    border: 1px solid #C6BFD7;
    width: 190px;
    direction: rtl;
    font-family: Tahoma;
    font-size: 12px;
    background-color: #e8f2fa;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: #375170;
}

.datePickerRow {
    background-color: White;
}

.datePickerFriDay {
    background-color: #FFCBB3;
}

.datePickerDay {
    width: 25px;
    height: 16px;
    text-align: center;
    cursor: pointer;
}

    .datePickerDay:hover {
        background-color: #FFee88;
    }

.datePickerDaySelect {
    text-align: center;
    cursor: pointer;
    background-color: #6666FF;
    color: #FFFFFF;
    border-radius: 2px;
}

.datePickerToday {
    text-align: center;
    cursor: pointer;
    background-color: #8FD08C;
    color: #FFFFFF;
    border-radius: 2px;
}

.datePickerHeader td {
    padding-bottom: 7px;
}

.datePickerFooter td {
    padding-top: 5px;
}

.datePickerHeader button, .datePickerFooter button {
    border-radius: 2px;
    padding: 0px 8px 2px 8px;
    height: 20px;
    border: 1px solid #c2cedc;
    font-family: Tahoma;
    font-size: 11px;
    background: linear-gradient(#dcecff, #bacadd);
    cursor: pointer;
}

.datePickerHeader button {
    padding: 0px 0px 2px 0px;
}

.datePickerFooter button {
    padding: 0px 8px 2px 8px;
}

    .datePickerHeader button:hover, .datePickerFooter button:hover {
        border: 1px solid #FFCC66;
        background: linear-gradient(#FFee88,#eFde78);
    }

.datePickerYear, .datePickerMonth {
    background-color: White;
    text-align: center;
    display: inline-block;
    color:#116f1c;
    height: 17px;
}

.datePickerMonth {
    width: 53px;
}

.datePickerYear {
    width: 33px;
}
