@model Iris.Web.ViewModels.Identity.ForgotPasswordViewModel
@{
    ViewBag.Title = "فراموشی کلمه عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <style>
        body {
            background-color: #d2d6de;
        }
    </style>
}

<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="">فراموشی کلمه عبور</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"></p>
            @using (Html.BeginForm(MVC.Account.ActionNames.ForgotPassword, MVC.Account.Name, new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>پست الکترونیک خود را وارد نمایید.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", style = "direction: ltr" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default" value="ارسال ایمیل" />
                    </div>
                </div>
            }
        </div>
        <!-- /.login-box-body -->
    </div>
</div>
