@{
    ViewBag.Title = "تایید فراموشی کلمه عبور";
}
<div style="background-color: #fff">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            برای ریست کردن کلمه عبور، لطفا به ایمیل خودتان مراجعه کنید.
        </p>
    </div>
</div>
